<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="robotiq_arg2f_85_gazebo" params="prefix">
        <gazebo>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_robotiq_140_1">
                <joint>${prefix}finger_joint</joint>
                <mimicJoint>${prefix}right_outer_knuckle_joint</mimicJoint>
                <multiplier>1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_robotiq_140_2">
                <joint>${prefix}finger_joint</joint>
                <mimicJoint>${prefix}left_inner_knuckle_joint</mimicJoint>
                <multiplier>1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_robotiq_140_3">
                <joint>${prefix}finger_joint</joint>
                <mimicJoint>${prefix}right_inner_knuckle_joint</mimicJoint>
                <multiplier>1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_robotiq_140_4">
                <joint>${prefix}finger_joint</joint>
                <mimicJoint>${prefix}left_inner_finger_joint</mimicJoint>
                <multiplier>-1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_robotiq_140_5">
                <joint>${prefix}finger_joint</joint>
                <mimicJoint>${prefix}right_inner_finger_joint</mimicJoint>
                <multiplier>-1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
        </gazebo>


        <gazebo reference="${prefix}robotiq_arg2f_base_link">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}left_outer_knuckle">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}right_outer_knuckle">           
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}left_outer_finger">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}right_outer_finger">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}left_inner_knuckle">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}right_inner_knuckle">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}left_inner_finger">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}right_inner_finger">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

         <gazebo reference="${prefix}left_inner_finger_pad">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 

        <gazebo reference="${prefix}right_inner_finger_pad">            
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo> 


        <gazebo>
            <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
                <arm>
                    <arm_name>${prefix}iiwa_arm</arm_name>
                    <palm_link>${prefix}link_7</palm_link>
                    <gripper_link>${prefix}left_inner_finger</gripper_link>
                    <gripper_link>${prefix}right_inner_finger</gripper_link>
                </arm>
                <forces_angle_tolerance>100</forces_angle_tolerance>
                <update_rate>2</update_rate>
                <grip_count_threshold>1</grip_count_threshold>
                <max_grip_count>4</max_grip_count>
                <release_tolerance>0.005</release_tolerance>
                <disable_collisions_on_attach>true</disable_collisions_on_attach>
                <contact_topic>__default_topic__</contact_topic>
            </plugin>
	    </gazebo>

    </xacro:macro>
</robot>