<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="iiwa_transmission" params="hardware_interface side">
    <transmission name="${side}_tran_1">
      <robotNamespace>/iiwa</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_joint_1">
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_motor_1">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${side}_tran_2">
      <robotNamespace>/iiwa</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_joint_2">
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_motor_2">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${side}_tran_3">
      <robotNamespace>/iiwa</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_joint_3">
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_motor_3">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${side}_tran_4">
      <robotNamespace>/iiwa</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_joint_4">
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_motor_4">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${side}_tran_5">
      <robotNamespace>/iiwa</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_joint_5">
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_motor_5">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${side}_tran_6">
      <robotNamespace>/iiwa</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_joint_6">
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_motor_6">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${side}_tran_7">
      <robotNamespace>/iiwa</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${side}_joint_7">
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${side}_motor_7">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>
