<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" /> -->
    <xacro:include filename="$(find iiwa_description)/urdf/platform.gazebo.xacro" />

    <xacro:macro name="platform">
        <!--table-=======================================================================-->        

        <link name="table_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="1356.3"/>
                <inertia ixx="317.03"  ixy="-4.2091E-15"  ixz="-34.819" iyy="319.07" iyz="-1.0336E-14" izz="395.56" />
            </inertial>
            <visual>        
                <origin xyz="0 -0.650 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://iiwa_description/meshes/base_part0_table.stl"/>
                </geometry>
                <material name="White"/>
            </visual>
            <collision>
                <origin xyz="-0.2 -2.165 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://iiwa_description/meshes/base_part0_table_c.stl"/>
                </geometry>
                <material name="White"/>
            </collision>
            </link>
        <!--===========================================================================-->


        <!--lift-======================================================================-->
        <joint name="table_lift_joint" type="fixed">
            <origin xyz="0.526 0 ${1.121-0.500+0.022+0.27}" rpy="0 0 0"/>
            <parent link="table_link"/>
            <child link="lift_link"/>
            <axis xyz="0 0 1" />
            <limit effort="100" lower="0" upper="0.450" velocity="1.0"/>
            <dynamics damping="50" friction="1"/>
        </joint>

        
        <link name="lift_link">
            <inertial>
                <origin xyz="0.0060477 -2.2204E-16 0.019996" rpy="0 0 0"/>
                <mass value="47.592"/>
                <inertia ixx="2.0644"  ixy="-3.1389E-16"  ixz="0.023131" iyy="1.3888" iyz="-1.493E-16" izz="0.96152" />
            </inertial>
            <visual>        
                <origin xyz="-0.240 -0.260 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://iiwa_description/meshes/base_part1_lift.stl"/>
                </geometry>
                <material name="Brown"/>
            </visual>
            <collision>
                <origin xyz="-0.240 -0.260 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://iiwa_description/meshes/base_part1_lift.stl"/>
                </geometry>
                <material name="Brown"/>
            </collision>
            </link>

        <!-- <transmission name="lift_tran">
            <robotNamespace>/iiwa</robotNamespace>
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="table_lift_joint">
                    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="lift_motor">
                    <hardwareInterface>PositionJointInterface</hardwareInterface>
                    <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission> -->
        <!--===========================================================================-->


        <!--neck-=======================================================================-->
        <joint name="lift_neck_joint" type="fixed">
            <origin xyz="-0.105 0 0.599" rpy="0 0 0"/>
            <parent link="lift_link"/>
            <child link="neck_link"/>
            <axis xyz="0 0 1" />
            <limit effort="300" velocity="1" lower="-0.7854" upper="0.7854" />
            <dynamics damping="50" friction="1"/>

        </joint>

        <link name="neck_link">
            <inertial>
                <origin xyz="-0.014292 -7.9519E-10 0.10385" rpy="0 0 0"/>
                <mass value="18.271"/>
                <inertia ixx="0.41379" ixy="7.3286E-10" ixz="0.00029645" iyy="0.11273" iyz="1.5388E-11" izz="0.34968" />
            </inertial>
            <visual>        
                <origin xyz="-0.075 -0.255 -0.005" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://iiwa_description/meshes/base_part2_neck.stl"/>
                </geometry>
                <material name="Red"/>
            </visual>
            <collision>
                <origin xyz="-0.075 -0.255 -0.005" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://iiwa_description/meshes/base_part2_neck.stl"/>
                </geometry>
                <material name="Red"/>
            </collision>
        </link>

        <!-- <transmission name="neck_tran">
            <robotNamespace>/iiwa</robotNamespace>
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="lift_neck_joint">
                    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="neck_motor">
                    <hardwareInterface>PositionJointInterface</hardwareInterface>
                    <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission> -->
        <!--===========================================================================-->


        <!--camera_holder-===================================================================-->
        <joint name="camera_holder_joint" type="fixed">
            <origin xyz="0 0 0.220" rpy="0 0 0"/>
            <parent link="neck_link"/>
            <child link="camera_holder_link"/>
        </joint>
        <link name="camera_holder_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="10"/>
                <inertia ixx="0.41379" ixy="7.3286E-10" ixz="0.00029645" iyy="0.11273" iyz="1.5388E-11" izz="0.34968" />
            </inertial>
            <visual>        
                <origin xyz="-0.590 -0.080 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://iiwa_description/meshes/base_part3_camera_holder.stl"/>
                </geometry>
                <material name="White"/>
            </visual>
            <collision>
                <origin xyz="-0.590 -0.080 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://iiwa_description/meshes/base_part3_camera_holder_c.stl"/>
                </geometry>
                <material name="White"/>
            </collision>
        </link>
        <!--===========================================================================-->



        <!--cushion-===================================================================-->
        <joint name="table_cushion_joint" type="fixed">
            <origin xyz="0.95 0 1.0" rpy="0 0 0"/>
            <parent link="table_link"/>
            <child link="cushion_link"/>
        </joint>
        <link name="cushion_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="5"/>
                <inertia ixx="0.05"  ixy="0"  ixz="0" iyy="0.06" iyz="0" izz="0.03" />
            </inertial>
            <visual>
                <origin xyz=" 0.2 0 0" rpy="0 0 0" />
                <geometry>
                <box size="1.1 1.6 0.068"/>
                </geometry>
                <material name="Gold"/>
            </visual>
            <collision>
                <origin xyz="0.2 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="1.1 1.6 0.068"/>
                </geometry>
                <material name="Gold"/>
            </collision>
        </link>
        <!--===========================================================================-->


        <!--reference frame-=============================================================-->
        <joint name="reference_frame_joint" type="fixed">
            <origin xyz="0 0 0.034" rpy="0 0 0"/>
            <parent link="cushion_link"/>
            <child link="reference_frame"/>
        </joint>
        <link name="reference_frame">            
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="0.01"/>
                </geometry>
                <material name="Black"/>
            </visual>            
        </link>
        <!--===========================================================================-->        

        
        
        <!--gazebo settings-=============================================================-->
        <xacro:platform_gazebo/>


    </xacro:macro>
</robot>
